<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome, {{ user.first_name }}!</h1>
    <a href="/logout">Log out</a>
    <!-- <div class="container">

        <div class="">
            <h1 class="">Hi, {{current_user.firstname}}!</h1>
            <div>
                <input type="text" placeholder="Search for a player"><button>Search</button>
                <a href="/logout">Logout</a>
            </div>
        </div>

        <h2 class="">Around the NBA, find and add all of your favorite players, and follow them!</h2>
        <div class="">
            <table class="">
                <thead class="">
                    <tr>
                        <th>Player</th>
                        <th>Team</th>
                        <th>Follow your player</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in players: %}
                    <tr>
                        <td>{{player.playername}}</td>
                        <td>{{player.playerteam}}</td>
                        <td></td>
                        <td>
                            <a href="/view_player/{{player.id}}">view</a>
                            {% if player.user.id == user.id: %}
                            <a href="/view_player/edit/{{player.id}}">edit</a>
                            <a href="/players/delete/{{player.id}}">delete</a>
                            {% endif %}
                            
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="">
            <table class="">
                <thead>
                    <tr>
                        <th>Your Players</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in players: %}
                    <tr>
                        <td>{{player.playername}}</td>
                    </tr>
                    {% endfor %}
            </table>
        </div>
        <a href="/create_link"><button>Add a player to the database!</button></a>
    </div> -->
</body>
</html>