<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome, {{ user.first_name }}!</h1>
    <a href="/logout">Log out</a>

    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Team</th>
            <th>Follow Your Player</th>
            <th>Actions</th>
        </tr>
        {% for player in players %}
            <tr>
                <td>{{player.first_name}}</td>
                <td>{{player.last_name}}</td>
                <td>{{player.team}}</td>
                <td></td>
                {% if player.user_id == session.user_id %}
                    <td><a href="/players/{{player.id}}">View</a> <a href="/players/{{player.id}}/edit">Edit</a> <a href="/players/{{player.id}}/delete">Delete</a></td>
                {% endif %}
                {% if player.user_id != session.user_id %}
                    <td><a href="/players/{{player.id}}">View</a></td>
                {% endif %}
            </tr>
        {% endfor %}

    </table>

    
    

    <a href="/players/create"><button>Add a player to the database!</button></a>
    

</body>
</html>