<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=>
    <title>The Stat Sheet</title>
</head>
<body>
    <div class="container">
        <h1 class="">The Stat Sheet</h1>
        <h2>Registration</h2>
        <div class="container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <p class="error">{{message}}</p>
            {% endfor %}
            {% endif %}

            {% endwith %}
        </div>
        <div class="flex-container">
            <div>
                <form action="/register" method="post">

                    <div class="form-group">
                        <label for="firstname">First Name:</label>
                        <input type="text" name="firstname" class="form-control" id="firstname"
                            placeholder="First name">
                    </div>

                    <div class="form-group">
                        <label for="lastname">Last Name:</label>
                        <input type="text" name="lastname" class="form-control" id="lastname" placeholder="Last name">
                    </div>

                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" name="password" id="password"
                            placeholder="Create a password">
                    </div>
                    <div class="form-group">
                        <label for="confirm_pass">Confirm Password:</label>
                        <input type="password" class="form-control" name="confirm_pass"
                            id="confirm_pass" placeholder="Confirm password">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn-primary" value="Register">
                    </div>
                </form>
            </div>
            <div>
                <h2>Login</h2>
                <form action="/login" method="post">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" name="password" id="password"
                            placeholder="Enter password">
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn-primary" value="Login">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>