<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">

    <title>Edit Player</title>
</head>
<body>
    <div>
        <div>
            <div>
                <a href="/dash">Home</a>
                <a href="/logout">Logout</a>
            </div>
            <h1>Edit Your Player</h1>
        </div>
        
        <div>
            {% with messages = get_flashed_messages(category_filter=['player']) %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p> 
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        <form action="/players/edit-submit" method="post" class=>
            <div>
                <div>
                    <input type="hidden" name="player_id" value="{{ player.id }}">
                    <label for="first_name">First Name:</label>
                    <input type="text" name="first_name" value="{{ player.first_name }}">
                </div>
                <div>
                    <label for="last_name">Last Name:</label>
                    <input type="text" name="last_name" value="{{ player.last_name }}">
                </div>
                <div>
                    <label for="team">Team:</label>
                    <select name="team">
                        <option {% if player.team == 'Atlanta Hawks' %}selected{% endif %}>Atlanta Hawks</option>
                        <option {% if player.team == 'Boston Celtics' %}selected{% endif %}>Boston Celtics</option>
                        <option {% if player.team == 'Brooklyn Nets' %}selected{% endif %}>Brooklyn Nets</option>
                        <option {% if player.team == 'Charlotte Hornets' %}selected{% endif %}>Charlotte Hornets</option>
                        <option {% if player.team == 'Chicago Bulls' %}selected{% endif %}>Chicago Bulls</option>
                        <option {% if player.team == 'Cleveland Cavaliers' %}selected{% endif %}>Cleveland Cavaliers</option>
                        <option {% if player.team == 'Dallas Mavericks' %}selected{% endif %}>Dallas Mavericks</option>
                        <option {% if player.team == 'Denver Nuggets' %}selected{% endif %}>Denver Nuggets</option>
                        <option {% if player.team == 'Detroit Pistons' %}selected{% endif %}>Detroit Pistons</option>
                        <option {% if player.team == 'Golden State Warriors' %}selected{% endif %}>Golden State Warriors</option>
                        <option {% if player.team == 'Houston Rockets' %}selected{% endif %}>Houston Rockets</option>
                        <option {% if player.team == 'Indiana Pacers' %}selected{% endif %}>Indiana Pacers</option>
                        <option {% if player.team == 'Los Angeles Clippers' %}selected{% endif %}>Los Angeles Clippers</option>
                        <option {% if player.team == 'Los Angeles Lakers' %}selected{% endif %}>Los Angeles Lakers</option>
                        <option {% if player.team == 'Memphis Grizzlies' %}selected{% endif %}>Memphis Grizzlies</option>
                        <option {% if player.team == 'Miami Heat' %}selected{% endif %}>Miami Heat</option>
                        <option {% if player.team == 'Milwaukee Bucks' %}selected{% endif %}>Milwaukee Bucks</option>
                        <option {% if player.team == 'Minnesota Timberwolves' %}selected{% endif %}>Minnesota Timberwolves</option>
                        <option {% if player.team == 'New Orleans Pelicans' %}selected{% endif %}>New Orleans Pelicans</option>
                        <option {% if player.team == 'New York Knicks' %}selected{% endif %}>New York Knicks</option>
                        <option {% if player.team == 'Oklahoma City Thunder' %}selected{% endif %}>Oklahoma City Thunder</option>
                        <option {% if player.team == 'Orlando Magic' %}selected{% endif %}>Orlando Magic</option>
                        <option {% if player.team == 'Philadelphia 76ers' %}selected{% endif %}>Philadelphia 76ers</option>
                        <option {% if player.team == 'Phoenix Suns' %}selected{% endif %}>Phoenix Suns</option>
                        <option {% if player.team == 'Portland Trail Blazers' %}selected{% endif %}>Portland Trail Blazers</option>
                        <option {% if player.team == 'Sacramento Kings' %}selected{% endif %}>Sacramento Kings</option>
                        <option {% if player.team == 'San Antonio Spurs' %}selected{% endif %}>San Antonio Spurs</option>
                        <option {% if player.team == 'Toronto Raptors' %}selected{% endif %}>Toronto Raptors</option>
                        <option {% if player.team == 'Utah Jazz' %}selected{% endif %}>Utah Jazz</option>
                        <option {% if player.team == 'Washington Wizards' %}selected{% endif %}>Washington Wizards</option>
                    </select>
                </div>
                <div>
                    <label for="position">Position:</label>
                    <select name="position">
                        <option>PG</option>
                        <option>SG</option>
                        <option>SF</option>
                        <option>PF</option>
                        <option>C</option>
                    </select>
                </div>
                <div>
                    <label for="points_pg" >PPG:</label>
                    <input type="number" name="points_pg" step="any" min="0" max="100">
                </div>
                <div>
                    <label for="rebounds_pg">RPG:</label>
                    <input type="number" name="rebounds_pg" step="any" min="0" max="100">
                </div>
                <div>
                    <label for="assists_pg">APG:</label>
                    <input type="number" name="assists_pg" step="any" min="0" max="100">
                </div>
                <div>
                    <label for="steals_pg">SPG:</label>
                    <input type="number" name="steals_pg" step="any" min="0" max="100">
                </div>
                <div>
                    <label for="blocks_pg" >BPG: </label>
                    <input type="number" name="blocks_pg" step="any" min="0" max="100">
                </div>
                <div>
                    <input type="submit" value="Add your NBA player">
                </div>
            </div>
        </form>
    </div>
</body>
</html>

            