<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">

    <title>Player View</title>
</head>

<body>
    <div class="">
        <a href="/dash">Home</a>
        <a href="/logout">Logout</a>
    </div>
    <div class="">
            <h2 class="">NBA Player...</h2>
            <div class="">
                <h2>{{player.playername}}</h2>
                <h3>{{player.playerteam}}</h3>
                <h3>{{player.playerposition}}</h3>
                <h3>Points Per Game: {{player.playerppg}}</h3>
                <h3>Assists Per Game: {{player.playerapg}}</h3>
                <h3>Rebounds Per Game: {{player.playerrpg}}</h3>
                <h3>Steals Per Game: {{player.playerapg}}</h3>
                <h3>Blocks Per Game: {{player.playerbpg}}</h3>
            </div>
    </div>
</body>
</html>