<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">

    <title>New Player!</title>
</head>
<body>
    <div>
        <div>
            <div>
                <a href="/dash">Home</a>
                <a href="/logout">Logout</a>
            </div>
            <h1>Add a Player</h1>
        </div>
        
        <div>
            {% with messages = get_flashed_messages(category_filter=['player']) %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p> 
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        <form action="/players/process" method="post" class=>
            <div>
                <div>
                    <label for="first_name">First Name:</label>
                    <input type="text" name="first_name">
                </div>
                <div>
                    <label for="last_name">Last Name:</label>
                    <input type="text" name="last_name">
                </div>
                <div>
                    <label for="team">Team:</label>
                    <select name="team">
                        <option>Atlanta Hawks</option>
                        <option>Boston Celtics</option>
                        <option>Brooklyn Nets</option>
                        <option>Charlotte Hornets</option>
                        <option>Chicago Bulls</option>
                        <option>Cleveland Cavaliers</option>
                        <option>Dallas Mavericks</option>
                        <option>Denver Nuggets</option>
                        <option>Detroit Pistons</option>
                        <option>Golden State Warriors</option>
                        <option>Houston Rockets</option>
                        <option>Indiana Pacers</option>
                        <option>Los Angeles Clippers</option>
                        <option>Los Angeles Lakers</option>
                        <option>Memphis Grizzlies</option>
                        <option>Miami Heat</option>
                        <option>Milwaukee Bucks</option>
                        <option>Minnesota Timberwolves</option>
                        <option>New Orleans Pelicans</option>
                        <option>New York Knicks</option>
                        <option>Oklahoma City Thunder</option>
                        <option>Orlando Magic</option>
                        <option>Philadelphia 76ers</option>
                        <option>Phoenix Suns</option>
                        <option>Portland Trail Blazers</option>
                        <option>Sacramento Kings</option>
                        <option>San Antonio Spurs</option>
                        <option>Toronto Raptors</option>
                        <option>Utah Jazz</option>
                        <option>Washington Wizards</option>
                    </select>
                </div>
                <div>
                    <label for="position">Position:</label>
                    <select name="position">
                        <option>PG</option>
                        <option>SG</option>
                        <option>SF</option>
                        <option>PF</option>
                        <option>C</option>
                    </select>
                </div>
                <div>
                    <label for="points_pg" >PPG:</label>
                    <input type="number" name="points_pg" step="any" min="0" max="100">
                </div>
                <div>
                    <label for="rebounds_pg">RPG:</label>
                    <input type="number" name="rebounds_pg" step="any" min="0" max="100">
                </div>
                <div>
                    <label for="assists_pg">APG:</label>
                    <input type="number" name="assists_pg" step="any" min="0" max="100">
                </div>
                <div>
                    <label for="steals_pg">SPG:</label>
                    <input type="number" name="steals_pg" step="any" min="0" max="100">
                </div>
                <div>
                    <label for="blocks_pg" >BPG: </label>
                    <input type="number" name="blocks_pg" step="any" min="0" max="100">
                </div>
                <input type="hidden" name="user_id" value="{{session['user_id']}}">
                <div>
                    <input type="submit" value="Add your NBA player">
                </div>
            </div>
        </form>
    </div>
</body>
</html>

            