<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">

    <title>Player View</title>
</head>

<body>
    <div>
        <a href="/dashboard">Home</a>
        <a href="/logout">Logout</a>
    </div>
    <div>
            <h2>NBA Player...</h2>
            <div>
                <h2>{{player.first_name}}</h2>
                <h2>{{player.last_name}}</h2>
                <h3>{{player.team}}</h3>
                <h3>{{player.position}}</h3>
                <h3>Points Per Game: {{player.points_pg}}</h3>
                <h3>Assists Per Game: {{player.rebounds_pg}}</h3>
                <h3>Rebounds Per Game: {{player.assists_pg}}</h3>
                <h3>Steals Per Game: {{player.steals_pg}}</h3>
                <h3>Blocks Per Game: {{player.blocks_pg}}</h3>
            </div>
    </div>
    <div>
        {% if player.user_id == session.user_id %}
        <a href="/players/{{player.id}}/edit">Edit Player</a> <a href="/players/{{player.id}}/delete">Delete Player</a>
        {% endif %}
    </div>
</body>
</html>