<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
    <title>The Stat Sheet</title>
</head>
<body>
    <nav class="navbar bg-warning d-flex align-items-center px-4">
        <div class="me-2">
            <a href="/dashboard" class="navbar-brand">The Stat Sheet</a>
        </div>
        <div class="ms-2 me-auto">
            <a href="/dashboard" class="nav-link">Home</a>
        </div>
        <div class="me-2">
            <p class="my-auto">Welcome, {{ user.first_name }}</p>
        </div>
        <div class="ms-2">
            <a href="/logout"><button class="btn btn-outline-dark">Log Out</button></a>
        </div>
    </nav>
    <div class="container col-md-8 mt-5 bg-secondary bg-gradient rounded shadow p-4" style="--bs-bg-opacity: .9;">
        <h1 class="text-white text-center my-4">Create a Player Profile</h1>
        <form action="/players/process" method="post" class="px-4">
            <div class="row">
                <div class="col-md-6 pe-2">
                    <div>
                        <label for="first_name" class="text-white form-label mb-2">First Name:</label>
                        <input type="text" name="first_name" class="form-control mb-2" value="{{session['first_name']}}">
                    </div>
                    <div>
                        {% with names = get_flashed_messages(category_filter=['first_name']) %}
                            {% if names %}
                                {% for msg in names %}
                                    <p class="text-warning my-2">{{ msg }}</p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
                <div class="col-md-6 ps-2">
                    <div>
                        <label for="last_name" class="text-white form-label mb-2">Last Name:</label>
                        <input type="text" name="last_name" class="form-control mb-2" value="{{session['last_name']}}">
                    </div>
                    <div>
                        {% with names = get_flashed_messages(category_filter=['last_name']) %}
                            {% if names %}
                                {% for msg in names %}
                                    <p class="text-warning my-2">{{ msg }}</p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 pe-2">
                    <div>
                        <label for="team" class="text-white form-label mb-2">Team:</label>
                        <select class="form-select mb-2" name="team">
                            <option>Select a team</option>
                            <option {% if session['team'] == 'Atlanta Hawks' %}selected{% endif %}>Atlanta Hawks</option>
                            <option {% if session['team'] == 'Boston Celtics' %}selected{% endif %}>Boston Celtics</option>
                            <option {% if session['team'] == 'Brooklyn Nets' %}selected{% endif %}>Brooklyn Nets</option>
                            <option {% if session['team'] == 'Charlotte Hornets' %}selected{% endif %}>Charlotte Hornets</option>
                            <option {% if session['team'] == 'Chicago Bulls' %}selected{% endif %}>Chicago Bulls</option>
                            <option {% if session['team'] == 'Cleveland Cavaliers' %}selected{% endif %}>Cleveland Cavaliers</option>
                            <option {% if session['team'] == 'Dallas Maverics' %}selected{% endif %}>Dallas Mavericks</option>
                            <option {% if session['team'] == 'Denver Nuggets' %}selected{% endif %}>Denver Nuggets</option>
                            <option {% if session['team'] == 'Detroit Pistons' %}selected{% endif %}>Detroit Pistons</option>
                            <option {% if session['team'] == 'Golden State Warriors' %}selected{% endif %}>Golden State Warriors</option>
                            <option {% if session['team'] == 'Houston Rockets' %}selected{% endif %}>Houston Rockets</option>
                            <option {% if session['team'] == 'Indiana Pacers' %}selected{% endif %}>Indiana Pacers</option>
                            <option {% if session['team'] == 'Los Angeles Clippers' %}selected{% endif %}>Los Angeles Clippers</option>
                            <option {% if session['team'] == 'Los Angeles Lakers' %}selected{% endif %}>Los Angeles Lakers</option>
                            <option {% if session['team'] == 'Memphis Grizzlies' %}selected{% endif %}>Memphis Grizzlies</option>
                            <option {% if session['team'] == 'Miami Heat' %}selected{% endif %}>Miami Heat</option>
                            <option {% if session['team'] == 'Milwaukee Bucks' %}selected{% endif %}>Milwaukee Bucks</option>
                            <option {% if session['team'] == 'Minnesota Timberwolves' %}selected{% endif %}>Minnesota Timberwolves</option>
                            <option {% if session['team'] == 'New Orleans Pelicans' %}selected{% endif %}>New Orleans Pelicans</option>
                            <option {% if session['team'] == 'New York Knicks' %}selected{% endif %}>New York Knicks</option>
                            <option {% if session['team'] == 'Oklahoma City Thunder' %}selected{% endif %}>Oklahoma City Thunder</option>
                            <option {% if session['team'] == 'Orlando Magic' %}selected{% endif %}>Orlando Magic</option>
                            <option {% if session['team'] == 'Philadelphia 76ers' %}selected{% endif %}>Philadelphia 76ers</option>
                            <option {% if session['team'] == 'Phoenix Suns' %}selected{% endif %}>Phoenix Suns</option>
                            <option {% if session['team'] == 'Portland Trail Blazers' %}selected{% endif %}>Portland Trail Blazers</option>
                            <option {% if session['team'] == 'Sacramento Kings' %}selected{% endif %}>Sacramento Kings</option>
                            <option {% if session['team'] == 'San Antonio Spurs' %}selected{% endif %}>San Antonio Spurs</option>
                            <option {% if session['team'] == 'Toronto Raptors' %}selected{% endif %}>Toronto Raptors</option>
                            <option {% if session['team'] == 'Utah Jazz' %}selected{% endif %}>Utah Jazz</option>
                            <option {% if session['team'] == 'Washington Wizards' %}selected{% endif %}>Washington Wizards</option>
                        </select>
                    </div>
                    <div>
                        {% with names = get_flashed_messages(category_filter=['team']) %}
                            {% if names %}
                                {% for msg in names %}
                                    <p class="text-warning my-2">{{ msg }}</p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
                <div class="col-md-6 ps-2">
                    <div>
                        <label for="position" class="text-white form-label mb-2">Position:</label>
                        <select name="position" class="form-select mb-2">
                            <option>Select a position</option>
                            <option {% if session['position'] == 'PG' %}selected{% endif %}>PG</option>
                            <option {% if session['position'] == 'SG' %}selected{% endif %}>SG</option>
                            <option {% if session['position'] == 'SF' %}selected{% endif %}>SF</option>
                            <option {% if session['position'] == 'PF' %}selected{% endif %}>PF</option>
                            <option {% if session['position'] == 'C' %}selected{% endif %}>C</option>
                        </select>
                    </div>
                    <div>
                        {% with names = get_flashed_messages(category_filter=['position']) %}
                            {% if names %}
                                {% for msg in names %}
                                    <p class="text-warning my-2">{{ msg }}</p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-between">
                <div class="pe-2">
                    <label for="points_pg" class="text-white form-label mb-2">PPG:</label>
                    <input type="number" name="points_pg" class="form-control mb-2" step="any" value="{{session['points_pg']}}">
                </div>
                <div class="px-2">
                    <label for="rebounds_pg" class="text-white form-label mb-2">RPG:</label>
                    <input type="number" name="rebounds_pg" class="form-control mb-2" step="any" value="{{session['rebounds_pg']}}">
                </div>
                <div class="px-2">
                    <label for="assists_pg" class="text-white form-label mb-2">APG:</label>
                    <input type="number" name="assists_pg" class="form-control mb-2" step="any" value="{{session['assists_pg']}}">
                </div>
                <div class="px-2">
                    <label for="steals_pg" class="text-white form-label mb-2">SPG:</label>
                    <input type="number" name="steals_pg" class="form-control mb-2" step="any" value="{{session['steals_pg']}}">
                </div>
                <div class="ps-2">
                    <label for="blocks_pg" class="text-white form-label mb-2">BPG:</label>
                    <input type="number" name="blocks_pg" class="form-control mb-2" step="any" value="{{session['blocks_pg']}}">
                </div>
            </div>
            <div>
                {% with names = get_flashed_messages(category_filter=['points_pg']) %}
                    {% if names %}
                        {% for msg in names %}
                            <p class="text-warning my-2">{{ msg }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% with names = get_flashed_messages(category_filter=['rebounds_pg']) %}
                    {% if names %}
                        {% for msg in names %}
                            <p class="text-warning my-2">{{ msg }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% with names = get_flashed_messages(category_filter=['assists_pg']) %}
                    {% if names %}
                        {% for msg in names %}
                            <p class="text-warning my-2">{{ msg }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% with names = get_flashed_messages(category_filter=['steals_pg']) %}
                    {% if names %}
                        {% for msg in names %}
                            <p class="text-warning my-2">{{ msg }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% with names = get_flashed_messages(category_filter=['blocks_pg']) %}
                    {% if names %}
                        {% for msg in names %}
                            <p class="text-warning my-2">{{ msg }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <input type="hidden" name="user_id" value="{{session['user_id']}}">
            <div class="d-flex flex-row justify-content-center">
                <button type="submit" class="btn btn-warning mt-4 mb-5">Create Player Profile</button>
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>

            